body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $default;
    font-size: 16px;
    font-weight: 26px;
    @extend %rubik-400;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: $title;
    @extend %dmsans-700
}

.container-box {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.breadcrumbs {
    margin-top: 115px;
    text-align: center;
    padding: 30px 0;
    background: #edf1f4;
    &__list {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        margin: 10px 10px 0;
        color: #727272;
        position: relative;
        &::after {
            content: '/';
            position: absolute;
            width: 7px;
            height: 12px;
            top: 2px;
            right: -13px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &__link {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
    }
}