.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $default;
    font-size: 16px;
    font-weight: 26px;
    @extend %rubik-400;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: $title;
    @extend %dmsans-700
}