body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.wrapper {
    flex-grow: 1;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

a {
    color: $default;
    font-size: 16px;
    font-weight: 26px;
    @extend %rubik-400;
}

.title {
    text-align: center;
    font-size: 36px;
    line-height: 42px;
    color: $title;
    @extend %dmsans-700
}

.container-box {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.breadcrumbs {
    margin-top: 115px;
    text-align: center;
    padding: 30px 0;
    background: #edf1f4;
    &__list {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        margin: 10px 10px 0;
        color: $title;
        position: relative;
        &::after {
            content: '/';
            position: absolute;
            width: 7px;
            height: 12px;
            top: 2px;
            right: -13px;
        }
        &:last-child {
            &::after {
                display: none;
            }
        }
    }
    &__link {
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        padding: 1px 5px;
        background-color: #fff;
        border-radius: 20px;
    }
    &__link-list {
        background: -webkit-linear-gradient(45deg, rgb(132, 240, 235) 17%, rgb(66, 242, 195) 62%);
        background: -moz-linear-gradient(45deg, rgb(132, 240, 235) 17%, rgb(66, 242, 195) 62%);
        background: linear-gradient(45deg, rgb(132, 240, 235) 17%, rgb(66, 242, 195) 62%);
    }
}

.pagination {
    &.pagination--list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item+.pagination__item {
        margin-left: 15px;
    }
    &__link {
        border: 1px solid #a3bbc8;
        padding: 8px 15px;
        font-size: 16px;
        @extend %rubik-400;
        color: $infotext;
    }
    &__link--active {
        background-color: #a3bbc8;
        color: #fff;
    }
}