@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
.header__inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px;
    background-color: #fff;
}

.logo {
    &__link {
        display: flex;
        align-items: center;
    }
    &__text {
        @extend %rubik-500;
        color: #436372;
        margin-left: 10px;
        font-size: 36px;
        line-height: 58px;
    }
}

.menu {
    .menu-list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__item+.menu-list__item {
            margin-left: 30px;
        }
        &__link {
            color: #436372;
            font-size: 15px;
            line-height: 12px;
            @extend %rubik-500;
        }
    }
}

.user-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__item {
        display: flex;
        align-items: center;
        padding: 14px 40px;
        background-color: #fcd7b6;
        border-radius: 40px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 34px;
            right: 50%;
            border-right: 1px solid #fde7d3;
        }
    }
    &__link+.user-nav__link {
        padding-left: 40px;
    }
    &__search {
        background-color: #edf1f4;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin-right: 20px;
        position: relative;
    }
    .user-nav__img-search {
        position: absolute;
        right: 33%;
        top: 33%;
        height: 17px;
        width: 17px;
    }
    &__link {
        position: relative;
    }
    &__num {
        position: absolute;
        width: 18px;
        height: 18px;
        background-color: #fff;
        border-radius: 50%;
        top: -10px;
        right: -9px;
        text-align: center;
        z-index: 1000000000;
    }
    &__btn {
        margin-left: 20px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 50%;
        background-color: #a3bbc8;
        position: relative;
        cursor: pointer;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 54%;
            left: 12px;
        }
        &::before {
            top: 11px;
            border-top: 5px dotted #fff;
        }
        &::after {
            bottom: 11px;
            border-bottom: 5px dotted #fff;
        }
    }
    &__line {
        content: '';
        width: 54%;
        left: 12px;
        position: absolute;
        border-top: 5px dotted #fff;
        top: 22px;
    }
}

.footer-top {
    padding: 90px 0 75px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #edf1f4;
    color: $text-footer;
    @extend %rubik-400;
    line-height: 22px;
    &__contact {
        width: 220px;
    }
    &__logo {
        margin-bottom: 30px;
    }
    &__adress {
        display: block;
        margin-bottom: 16px;
    }
    &__phone {
        display: block;
        margin-bottom: 16px;
    }
    &__mail {
        display: block;
        margin-bottom: 33px;
    }
    &__title {
        color: $title-footer;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        margin-top: 18px;
        margin-bottom: 40px;
    }
    &__nav {
        width: 170px;
    }
    &__list {
        margin-bottom: 10px;
        font-size: 14px;
        line-height: 32px;
    }
    &__form {
        max-width: 400px;
    }
    &__text {
        margin-bottom: 35px;
    }
    &__input {
        color: $title-footer;
        border: none;
        font-size: 20px;
        line-height: 26px;
        padding: 12px;
        background-color: #fef7f0;
        &::placeholder {
            font-size: 18px;
            line-height: 24px;
        }
    }
    &__btn {
        background-color: #a3bbc8;
        padding: 12px;
        font-size: 20px;
        line-height: 26px;
        border: none;
        color: #fff;
        cursor: pointer;
        transition: all .7s;
        &:hover {
            border: 1px solid #fff;
            border-radius: 10px;
            background-color: #83c4e2;
            color: #fff;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.603);
        }
    }
}

.footer-bottom {
    padding: 30px 0 45px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__copy {
        color: $text-footer;
        font-size: 12px;
        line-height: 16px;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    &__list+.footer-bottom__list {
        margin-left: 28px;
    }
    &__list:nth-child(1)::before {
        content: '';
        position: absolute;
        top: 0;
        left: 58px;
        bottom: 0;
        border-right: 2px solid #9f9f9f;
    }
    &__list:nth-child(2)::before {
        content: '';
        position: absolute;
        top: 0;
        right: 134px;
        bottom: 0;
        border-right: 2px solid #9f9f9f;
    }
    &__list:nth-child(3)::before {
        content: '';
        position: absolute;
        top: 0;
        right: 72px;
        bottom: 0;
        border-right: 2px solid #9f9f9f;
    }
}

.top-slider {
    margin-top: 100px;
    background-color: #fcd7b6;
    padding: 100px 0;
    background-image: url('../images/slider-bg.png');
    height: 800px;
    background-repeat: no-repeat;
    background-position: 85%;
    &__item {
        display: flex !important;
        justify-content: space-between;
        align-items: center;
        padding: 150px 300px;
    }
    &__title {
        font-size: 72px;
        line-height: 70px;
        @extend %rubik-500;
        color: #243f4d;
    }
    &__text {
        font-size: 18px;
        line-height: 30px;
        color: #436372;
        max-width: 330px;
        height: 100%;
        margin: 40px 0 50px 0;
    }
    &__link {
        padding: 20px 80px 20px 25px;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
        position: relative;
        transition: all .7s;
        display: inline-block;
        &::before {
            content: '';
            position: absolute;
            width: 22px;
            height: 10px;
            background-image: url('../images/arrow.png');
            top: 22px;
            right: 20px;
        }
        &:hover {
            transform: scale(1.2);
            border: 1px solid #fff;
            border-radius: 10px;
            background-color: #83c4e2;
            color: #fff;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.603);
        }
    }
}

.slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    li+li {
        margin-left: 12px;
    }
    li {
        button {
            padding: 0;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            font-size: 12px;
            background-color: #fde3cc;
            border: none;
        }
    }
    .slick-active {
        button {
            padding: 0;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            font-size: 12px;
            background-color: #fff;
        }
    }
}

.service {
    background-color: #fef7f0;
    padding: 45px 0;
}

.top-service {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__img {
        margin-right: 20px;
    }
    &__support {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 250px;
    }
    &__delivery {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    &__secure {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
    }
    &__service-title {
        color: #414141;
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 40px;
    }
    &__service-text {
        color: #585858;
        @extend %dmsans-400;
        font-size: 16px;
        line-height: 30px;
    }
}

.product {
    &__container {
        max-width: 1200px;
    }
    &__title {
        margin: 70px 0 30px;
    }
    &__btn {
        text-align: center;
        margin-bottom: 70px;
    }
    &__item-btn {
        padding: 0;
        border: none;
        background-color: inherit;
        color: $default;
        font-size: 16px;
        line-height: 22px;
        @extend %dmsans-700;
        outline: none;
    }
    &__item-btn+&__item-btn {
        margin-left: 20px;
    }
    .mixitup-control-active {
        color: #292929;
    }
    &__items {
        display: grid;
        min-height: 600px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #fff;
        width: 260px;
        height: 380px;
        &:hover {
            transition: all 1s;
            cursor: pointer;
        }
    }
    &__images {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        display: none;
        z-index: 2;
    }
    &__search,
    &__cart,
    &__liked {
        position: absolute;
        top: 190px;
        padding: 12px;
        border-radius: 50%;
        background-color: #edeff1;
        display: flex;
        align-items: center;
        transition: all .5s;
        &:hover {
            background-color: #6a93aa;
        }
    }
    &__search {
        left: 60px;
    }
    &__cart {
        left: 106px;
    }
    &__liked {
        right: 60px;
    }
    &__images-link path {
        fill: #6a93aa;
    }
    &__images-link:hover path {
        fill: #edeff1;
    }
    &__excerpt {
        margin-top: 120px;
        display: grid;
        height: 370px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px;
    }
    &__excerpt-items {
        background-color: #feefe2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.486);
    }
    &__excerpt-img {
        position: absolute;
        top: -90px;
        left: 180px;
    }
    &__excerpt-item {
        max-width: 390px;
        padding-right: 70px;
    }
    &__excerpt-title {
        color: #243f4d;
        font-size: 26px;
        line-height: 32px;
        @extend %dmsans-500;
        margin-bottom: 20px;
    }
    &__excerpt-text {
        color: #243f4d;
        font-size: 16px;
        line-height: 24px;
        @extend %rubik-400;
        margin-bottom: 50px;
    }
    &__excerpt-link {
        padding: 20px 80px 20px 20px;
        border: 1px solid #6a93aa;
        border-radius: 5px;
        font-size: 16px;
        line-height: 12px;
        @extend %dmsans-500;
        color: #436372;
        display: inline-block;
        position: relative;
        transition: all .5s;
        &::before {
            content: '';
            position: absolute;
            width: 25px;
            height: 10px;
            background-image: url(../images/arrowblack.png);
            top: 22px;
            right: 20px;
        }
        &:hover {
            transform: scale(1.2);
            border: 1px solid #fff;
            background-color: #83c4e2;
            color: #fff;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.603);
        }
    }
}

.design {
    margin-top: 80px;
    &__items {
        display: grid;
        min-height: 600px;
        grid-template-columns: repeat(3, 2fr);
        grid-template-rows: repeat(2, 2fr);
        grid-gap: 30px;
    }
    .mixitup-control-active {
        color: #292929;
    }
    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-color: #f8f8f8;
        padding: 50px 30px;
        width: 370px;
        height: 250px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            cursor: pointer;
            border-radius: 20px;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background: rgba(#436372, 0.3);
            transition: all .8s;
        }
        &:hover:before {
            opacity: 0;
            box-shadow: 0px 6px 47px 3px rgba(137, 18, 153, 0.925);
        }
    }
    &__title {
        font-size: 20px;
        @extend %dmsans-700;
    }
    &__text {
        margin-top: 5px;
        font-size: 16px;
        @extend %dmsans-700;
        color: #a3bbc8;
        text-transform: uppercase;
    }
    &__popup {
        margin-top: 80px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        min-height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blog {
    margin-top: 50px;
    background-image: url('../images/blog-bg.jpg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -100;
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 50px;
    }
    &__more {
        @extend %dmsans-700;
        color: $title;
        padding-right: 20px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            right: 0;
            width: 6px;
            height: 11px;
            background-image: url('../images/icons/1arrow.svg');
        }
    }
    &__items {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__item {
        z-index: 2;
        border-radius: 10px;
        max-width: 370px;
        background-color: #fff;
    }
    &__item-img {
        display: block;
        height: 250px;
        object-fit: cover;
        margin-bottom: 30px;
    }
    &__item-box {
        border-bottom: 1px solid $text;
        width: 315px;
        margin: 0 auto;
        padding: 0 5px;
        position: relative;
    }
    &__item-link__news {
        position: absolute;
        top: -45px;
        left: 0;
        background: #a3bbc8;
        color: #fff;
        @extend %dmsans-700;
        border-radius: 30px;
        padding: 5px 25px;
        transition: all 1s;
        &:hover {
            transform: rotate(360deg);
            background: linear-gradient(45deg, rgb(129, 199, 70), rgb(39, 198, 202));
            box-shadow: 0 -140px 70px -120px;
        }
    }
    &__item-text {
        font-size: 18px;
        line-height: 18px;
        @extend %dmsans-500;
        padding-bottom: 15px;
    }
    &__item-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px 0;
    }
}

.partners {
    background-color: #fef7f0;
    &__inner {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__link {
        padding: 102px 0;
    }
}

@import 'media';